<main>
  <div class="signup-form-container">
    <div class="auth-signup">
      <mat-icon routerLink="/login" class="back-button" fontIcon="arrow_back"></mat-icon>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Regisztráció</h2>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Felhasználónév</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Jelszó újra</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>

        <button mat-flat-button color="primary" class="signup-form-button" type="submit">Regisztráció</button>
      </form>
    </div>
  </div>
</main>
