<meta charset="UTF-8">
<header>
  <button
    mat-icon-button
    class="menu-button"
    *ngIf="isScreenSmall"
    (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/img/logo.png" alt="Drs Zone" class="logo">
  <nav *ngIf="!isScreenSmall">
    <ul class="nav_links">
      <li><a routerLink="/home" routerLinkActive="activeLink">Főoldal</a></li>
      <li><a routerLink="/news" routerLinkActive="activeLink">Hírek</a></li>
      <li><a routerLink="/reviews" routerLinkActive="activeLink">Összefoglalók</a></li>
    </ul>
  </nav>
  <img (click)="toggleTheme()"  src="/assets/dark-light-mode-icon.png" alt="" class="dark-light-switch-button">
  <button routerLink="/login" mat-flat-button class="login-button">Bejelentkezés</button>
</header>
