<meta charset="UTF-8">
<header>
  <button
    mat-icon-button
    class="menu-button"
    *ngIf="isScreenSmall"
    (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <img [src]="'assets/img/header/logo.png'" [routerLink]="'home'" alt="Drs Zone" class="logo">
  <nav *ngIf="!isScreenSmall">
    <ul class="nav_links">
      <li routerLinkActive="activeLink" [routerLink]="'home'">
        <a  routerLinkActive="activeLink" >Főoldal</a>
        <mat-icon>home</mat-icon>
      </li>
      <li routerLinkActive="activeLink" [routerLink]="'news'">
        <a routerLinkActive="activeLink">Hírek</a>
        <mat-icon>newspaper</mat-icon>
      </li>
      <li routerLinkActive="activeLink" [routerLink]="'reviews'">
        <a  routerLinkActive="activeLink">Összefoglalók</a>
        <mat-icon>rate_review</mat-icon>
      </li>
    </ul>
  </nav>
  <ng-container *ngIf="!isLogged(); else loggedInTemplate">
    <button matTooltip="Jelentkezz be!" class="login-button" routerLink="/login" mat-flat-button>Bejelentkezés</button>
    <mat-icon [routerLink]="'/login'" class="account-icon">person</mat-icon>
  </ng-container>

  <ng-template #loggedInTemplate>
    <div class="avatar" [routerLink]="['/profile', userData.id]">
      <img [src]="loadAvatar()" alt="User Profile" class="profile-img">
    </div>
  </ng-template>
  <img (click)="toggleTheme()"  [src]="'/assets/img/header/dark-light-mode-icon.png'" alt="" class="dark-light-switch-button">
</header>
