@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f8f4f4;
}

li, a, button{
  font-family: 'Kanit', cursive;
  font-weight: 500;
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}

.login-button{
  cursor: pointer;
  display: inline-flex;
}

.account-icon{
  display: none;
  color: black;
}

.nav_links {
  display: flex;
  gap: 16px;
}
.nav_links li {
  display: inline-block;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a{
  padding: 30px;
  color: #000000;
  position: relative;
  display: inline-block;
}

.nav_links li a:hover{
  color: #d10101;
}

.nav_links li a::after,
.nav_links li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #d10101);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.15s ease-out;
}

.nav_links li a::before {
  top: -5px;
  transform-origin: left;
}

.nav_links li:hover a::after,
.nav_links li:hover a::before {
  transform: scaleX(1);
}

header {
  @include mat.button-overrides((
    filled-container-color: #f8274f,
    filled-label-text-color: white,
    outlined-ripple-color: rgba(165, 0, 0, 0.2),
  ));

}

.activeLink{
  color: #f8274f !important;
  font-weight: bold;
}

.dark-light-switch-button {
  cursor: pointer;
  width: 3%;
  height: 3%;
  transition: transform 0.3s ease;
}

.dark-light-switch-button:active {
  transform: scale(1.2);
}

.avatar img{
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

@media (min-width: 990px) and (max-width: 1350px) {
  .logo{
    display: flex;
    width: 40%;
  }

  .login-button{
    display: none;
  }

  .account-icon{
    display: flex;
    margin-right: 2%;
  }

  .nav_links {
    gap: 1px;
  }

  .nav_links li a {
    padding: 20px;
  }
}

@media (max-width: 990px) {
  header {
    padding: 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .nav_links {
    display: none;
  }

  img{
    width: 40%;
  }

  .menu-button {
    display: block;
  }

  .dark-light-switch-button{
    width: 6%;
    height: 6%;
  }
  .login-button{
    display: none;
  }

  .avatar {
    display: none;
  }
}

@media (max-width: 480px) {
  .dark-light-switch-button{
    width: 8%;
    height: 8%;
  }
}
