<main>
  <div class="article-contatiner" *ngIf="article">
    <div *ngIf="!article.isReview">
      <mat-icon routerLink="/news" class="back-button">arrow_back</mat-icon>
      <button *ngIf="article.reviewUrl" mat-flat-button class="review-button" [routerLink]="['/article', article.reviewUrl]">Összefoglaló a nagydíjról</button>
      <div class="first-section">
        <img [src]="'assets/img/news-images/' + article.id + '/primary.jpg'" [alt]="article.title " class="img-primary">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.summary }}</h2>
      </div>
      <p [innerHTML]="article.first_section"></p>
      <div class="second-section">
        <img [src]="'assets/img/news-images/' + article.id + '/secondary.jpg'" [alt]="article.label " class="img-secondary">
      </div>
      <div class="last-section">
        <p [innerHTML]="article.last_section"></p>
      </div>

    </div>
    <div *ngIf="article.isReview">
      <mat-icon routerLink="/news" class="back-button" fontIcon="arrow_back"></mat-icon>
      <div class="first-section">
        <img [src]="'assets/img/reviews-images/' + article.id + '/primary.jpg'" [alt]="article.title " class="img-primary">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.summary }}</h2>
      </div>
      <p [innerHTML]="article.first_section"></p>
      <p [innerHTML]="article.second_section"></p>
      <div class="second-section">
        <img [src]="'assets/img/reviews-images/' + article.id + '/secondary.jpg'" [alt]="article.label " class="img-secondary">
      </div>
      <p [innerHTML]="article.third_section"></p>
      <div class="third-section">
        <img [src]="'assets/img/reviews-images/' + article.id + '/third.jpg'" [alt]="article.label " class="img-secondary">
      </div>
      <p [innerHTML]="article.fourth_section"></p>
      <div class="fourth-section">
        <img [src]="'assets/img/reviews-images/' + article.id + '/fourth.jpg'" [alt]="article.label " class="img-secondary">
      </div>
      <div class="last-section">
        <p [innerHTML]="article.last_section"></p>
      </div>

      <button mat-flat-button class="review-button" routerLink="/news">Híreink</button>
    </div>


  </div>
  <div class="article-contatiner" *ngIf="!article">
    <p>Article not found.</p>
  </div>

  <app-article-comments [articleUrl]="article.url"/>
</main>

