<div *ngIf="primary_news_list.length > 0; else loadingTemplate" class="primary_news-container">
  <div class="new-item" *ngFor="let new_item of primary_news_list" [routerLink]="['/article', new_item.url]">
    <img [src]="'assets/img/news-images/' + new_item.id + '/primary.jpg'" [alt]="new_item.label ">
      <div class="text-content">
        <h2 class="news-label">{{new_item.label}}</h2>
        <p class="news-desc">{{new_item.summary}}</p>
        <p class="news-desc">{{new_item.date}}</p>
      </div>
    </div>
</div>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <h3>Betöltés...</h3>
  </div>
</ng-template>
