<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="sidebar">
    <div class="sidenav-header">
      <p>Menü</p>
    </div>
    <ul>
      <li [routerLink]="'home'" routerLinkActive="activeLink">
        <a routerLinkActive="activeLink" (click)="sidenav.close()">Főoldal</a>
        <mat-icon>home</mat-icon>
      </li>
      <li [routerLink]="'news'" routerLinkActive="activeLink">
        <a routerLinkActive="activeLink" (click)="sidenav.close()">Hírek</a>
        <mat-icon>newspaper</mat-icon>
      </li>
      <li [routerLink]="'reviews'" routerLinkActive="activeLink">
        <a routerLinkActive="activeLink" (click)="sidenav.close()">Összefoglalók</a>
        <mat-icon>rate_review</mat-icon>
      </li>
      <li [routerLink]="'login'" *ngIf="!isLoggedIn">
        <a routerLinkActive="activeLink" (click)="sidenav.close()">Bejelentkezés</a>
        <mat-icon>login</mat-icon>
      </li>
      <li [routerLink]="['/profile', loggedId]" *ngIf="isLoggedIn">
        <a routerLinkActive="activeLink" (click)="sidenav.close()">Profil</a>
        <mat-icon>person</mat-icon>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"/>
    <router-outlet/>
    <app-footer/>
  </mat-sidenav-content>
</mat-sidenav-container>
