<div class="comment-container">
  <h1>Hozzászólások</h1>

  <div class="comments" *ngIf="loadComments()">

    <div class="new-comment-item" *ngIf="isLoggedIn()">
      <img [src]="loadAvatar()" alt="Profile" class="profile-img">
      <form class="new-comment-form">
      <mat-form-field style="width:60vw" color="primary">
        <input matInput placeholder="Írjon egy kommentet..."/>
      </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Komment</button>
      </form>
    </div>
    <div class="new-comment-item-none" *ngIf="!isLoggedIn()">
        <p>Hozzászóláshoz jelentkezz be!</p>
    </div>

    <div class="comment-item" *ngFor="let comment_item of comments">
      <div class="user-info">
        <img [src]="comment_item.profileImage" (error)="comment_item.profileImage = 'assets/img/profile_pictures/avatar.jpg'" class="profile-img" alt="{{ comment_item.userName }}"/>
        <h2>{{comment_item.userName}}</h2>
        <button *ngIf="loggedId == comment_item.userid" class="delete-button" mat-flat-button >Törlés</button>
      </div>
      <div class="content">
        <p>{{comment_item.content}}</p>
      </div>
      <p>{{ comment_item.timestamp }}</p>
    </div>
  </div>
  <div class="comments" *ngIf="!loadComments()">
      <div class="new-comment-item" *ngIf="isLoggedIn()">
        <img [src]="loadAvatar()" alt="Profile" class="profile-img">
        <form class="new-comment-form">
          <mat-form-field style="width:60vw" color="primary">
            <input matInput placeholder="Írjon egy kommentet..."/>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit">Komment</button>
        </form>
      </div>
      <div class="new-comment-item-none" *ngIf="!isLoggedIn()">
        <p>Hozzászóláshoz jelentkezz be!</p>
      </div>
      <p>Ehhez a poszthoz még nem szóltak hozzá! Légy te az első!</p>
  </div>
</div>
