<div class="comment-container">
  <h1>Hozzászólások</h1>

  <div class="comments" *ngIf="loadComments()">

    <div class="new-comment-item" *ngIf="isLoggedIn | async">
      <img [src]="loadAvatar()" alt="Profile" class="profile-img">
      <form class="new-comment-form" [formGroup]="newCommentForm" (ngSubmit)="submitComment()">
      <mat-form-field style="width:60vw" color="primary">
        <input formControlName="comment_input" matInput placeholder="Írjon egy kommentet..."/>
      </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Komment</button>
      </form>
    </div>
    <div class="new-comment-item-none" *ngIf="!(isLoggedIn | async)">
        <p>Hozzászóláshoz <a (click)="navigateToLogin()">jelentkezz be</a>!</p>
    </div>

    <div class="comment-item" *ngFor="let comment_item of comments">
      <div class="user-info">
        <div class="avatar-name">
          <img [src]="comment_item.profileImage" class="profile-img" alt="{{ comment_item.username }}"/>
          <h2>{{comment_item.username}}</h2>
        </div>
        <div class="comment-buttons">
          <button class="comment-button" *ngIf="userData?.username == comment_item.username" mat-flat-button (click)="openUpdateCommentDialog(comment_item)">Szerkesztés</button>
          <button class="comment-button" *ngIf="userData?.username == comment_item.username" mat-flat-button (click)="openDeleteCommentDialog(comment_item)">Törlés</button>
        </div>
      </div>
      <div class="content">
        <p>{{comment_item.content}}</p>
      </div>
      <p>{{ comment_item.timestamp | dateFormat }}</p>
    </div>
  </div>
  <div class="comments" *ngIf="!loadComments()">
      <div class="new-comment-item" *ngIf="isLoggedIn | async">
        <img [src]="loadAvatar()" alt="Profile" class="profile-img">
        <form class="new-comment-form" [formGroup]="newCommentForm" (ngSubmit)="submitComment()">
          <mat-form-field style="width:60vw" color="primary">
            <input formControlName="comment_input" matInput placeholder="Írjon egy kommentet..."/>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit">Komment</button>
        </form>

      </div>
      <div class="new-comment-item-none" *ngIf="!isLoggedIn">
        <p>Hozzászóláshoz jelentkezz be!</p>
      </div>
      <p>Ehhez a poszthoz még nem szóltak hozzá! Légy te az első!</p>
  </div>
</div>
