<main>
  <div class="content-container">
    <div class="news">
      <h1>Kiemelt híreink:</h1>
      <app-primary-news-list/>
    </div>
  </div>
  <div class="about-us">
    <div class="welcome-container">
      <h1>Üdvözlünk a DRS Zónában!</h1>
      <img class="welcome-img" [src]="'assets/img/home/1.jpg'" alt="2024-es Miami Nagydíj - Rajt">

      <p>Ez a weboldal egy hely, ahol mindent megtudhatsz a Forma-1 legfrissebb híreiről, izgalmas összefoglalókról és mélyreható elemzésekről.
        Itt a helyed, ha legnagyobb átéléssel követed a szezont, vagy csak éppen most ismerkedsz az autósporttal.</p>

      <img class="welcome-img" [src]="'assets/img/home/2.jpg'" alt="2024-es Monaco Nagydíj">


      <h2>Hírek és friss információk</h2>

      <p>A kezdőoldalon megtalálhatóak a legfrissebb hírek, így elsőként értesülhetsz a legújabb fejleményekről.
        Legyen szó meglepő csapatváltásokról, drámai futameredményekről vagy kulisszatitkokról
        a paddockból – nálunk minden fontos infó egy helyen vár rád, hogy garantáltan ne maradj le semmiről!</p>

      <img class="welcome-img" [src]="'assets/img/home/3.jpg'" alt="2025-es Ferrari -  Filoranoi teszt">


      <h2>Összefoglalók és beszámolók</h2>
      <p>Nem kell aggódni, ha esetleg lemaradnál a hétvége történésiről, minden esemény után rövid összefoglalót teszünk ki,
        a futamok után pedig egy teljes, részletes beszámolót is megosztunk az oldalon.</p>

      <img class="welcome-img" [src]="'assets/img/home/4.jpg'" alt="2023-as Ausztrál Nagydíj - Újraindítás">

      <h2>Hozzászólások és közösség</h2>
      <p>Célunk a magyar F1 rajongók közösségét növelni és egy olyan helyet teremteni,
        ahol szabadon megoszthatjuk egymás között véleményeinket. Csatlakozz, írj, fejtsd ki véleményed az aktuális poszt alá!</p>

      <h3>Csatlakozz hozzánk, és éld át a Forma-1 világát!</h3>

      <button mat-flat-button matTooltip="Tovább a Regisztrációra" (click)="routeToRegister()"> Ha még nem tetted, Regisztrálj most!</button>
    </div>
  </div>
</main>
