<h2 mat-dialog-title>Komment szerkesztése</h2>
<form [formGroup]="commentEditForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment" rows="3"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="color" (click)="close()">Mégse</button>
    <button mat-flat-button color="warn" (click)="save()" [disabled]="!commentEditForm.valid">Mentés</button>
  </mat-dialog-actions>
</form>
