<main>

  <div class="login-form-container">
    <div class="form-error-container" *ngIf="(loginError | async) !== ''">
      <h2>{{loginError | async}}</h2>
    </div>
    <div class="auth-login">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>Bejelentkezés</h2>

        <mat-form-field color="primary">
          <mat-label>Email</mat-label>
          <input matInput type="email" [formControl]="email" />
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" [formControl]="password" />
        </mat-form-field>

        <button  mat-flat-button color="primary" class="login-form-button" type="submit">Belépés</button>

        <p class="form-text">Még nem regisztráltál? Megteheted <a routerLink="/signup"> itt</a>.</p>
      </form>
    </div>
  </div>
</main>
