@use '@angular/material' as mat;

:root {
  --primary-background: #21212e;
  --primary-text: #bbb;
  --secondary-background: #15161d;
  --secondary-text: #c3c3c3;
  --news-secondary-text: #ed2449;

  --dark-primary-background: #15161d;
  --dark-primary-text: #bbb;
  --dark-secondary-background: #21212e;
  --dark-secondary-text: #bbb;

  --gray-text: #c3c3c3;
  --red-text: #ed2449;


  @include mat.button-overrides((
    filled-container-color: #f8274f,
    filled-label-text-color: white,
    outlined-ripple-color: rgba(165, 0, 0, 0.2),
  ));

  @include mat.form-field-overrides((
    filled-container-color: var(--secondary-background),
    filled-label-text-color: var(--gray-text),
    filled-focus-label-text-color: var(--red-text),
    filled-hover-label-text-color: var(--gray-text),
  ));
}

.light-mode {
  --primary-background: #f1f1f1;
  --primary-text: #15161d;
  --secondary-background: #d1caca;
  --secondary-text: #555;
  --news-secondary-text: #aa0c25;
}

.dark-mode {
  background-color: var(--dark-primary-background);
  color: var(--dark-primary-text);
}

.dark-mode .news-container {
  background-color: var(--dark-secondary-background);
  color: var(--dark-secondary-text);
}

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$red-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Comments */
@mixin comment-container{
  display: flex;
  width: 95%;
  margin: 0 auto 20px auto;
  flex-direction: column;
  background-color: var(--primary-background);
  border-radius: 30px;
}

@mixin comment-container-h1 {
  text-align: center;
  padding: 5px;
}

@mixin comments {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 16px;
  padding: 30px;
}

@mixin comment-item {
  display: flex;
  width: 1200px;
  background-color: var(--secondary-background);
  flex-direction: column;
  padding: 5px;
  border-radius: 30px;
  border-bottom: var(--primary-background);
}

@mixin  not-comment-item {
  margin-left: 10px;
}

@mixin user-info{
  display: flex;
  flex-direction: row;
}

@mixin user-info-button {
  margin-top: 15px;
  margin-left: 10px;
}

@mixin content {
  display: block;
  text-align: justify;
}

@mixin content-p {
  overflow-wrap: break-word;
}

@mixin comment-content {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-grow: 1;
  max-width: 700px;
}

@mixin profile-img {
  width: 48px;
  height: 48px;
  border-radius: 60%;
  padding: 5px;
}

@mixin comment-date {
  width: 100%;
  text-align: right;
  margin-top: 8px;
  font-size: 0.875rem;
}

