@use '@angular/material' as mat;

:root {
  --primary-background: #21212e;
  --primary-text: #bbb;
  --secondary-background: #15161d;
  --secondary-text: #c3c3c3;
  --news-secondary-text: #ed2449;

  --dark-primary-background: #15161d;
  --dark-primary-text: #bbb;
  --dark-secondary-background: #21212e;
  --dark-secondary-text: #bbb;
}

.light-mode {
  --primary-background: #f1f1f1;
  --primary-text: #15161d;
  --secondary-background: #d1caca;
  --secondary-text: #555;
  --news-secondary-text: #aa0c25;
}

.dark-mode {
  background-color: var(--dark-primary-background);
  color: var(--dark-primary-text);
}

.dark-mode .news-container {
  background-color: var(--dark-secondary-background);
  color: var(--dark-secondary-text);
}

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$red-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

