<div class="comment-container">
  <h1>Felhasználó hozzászólásai</h1>
  <div class="comments" *ngIf="loadComments()">
    <div class="comment-item" *ngFor="let comment_item of comments" >
      <div class="user-info">
        <div class="avatar-name">
          <img [src]="loadAvatar()"  class="profile-img" alt="{{ comment_item.username }}"/>
          <h2>{{comment_item.username}}</h2>
        </div>
        <div class="comment-buttons">
          <button class="comment-button" mat-flat-button [routerLink]="['/article', comment_item.articleUrl]">Ugrás</button>
          <button class="comment-button" mat-flat-button (click)="openUpdateCommentDialog(comment_item)">Szerkesztés</button>
          <button class="comment-button" mat-flat-button (click)="openDeleteCommentDialog(comment_item)">Törlés</button>
        </div>
      </div>
      <div class="content">
        <p>{{comment_item.content}}</p>
      </div>
      <p>{{ comment_item.timestamp | dateFormat }}</p>
    </div>
  </div>
  <div class="comments" *ngIf="!loadComments()">
      <p>Nem kommenteltél még egyik cikkünk alá sem!</p>
  </div>
</div>
